---
import { SITE, APP_BLOG } from 'astrowind:config';
import { getHomePermalink, getBlogPermalink } from '~/utils/permalinks';
import { findLatestPosts } from '~/utils/blog';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
}

export interface Props {
  footNote?: string;
  theme?: string;
}

const { footNote = '', theme = 'light' } = Astro.props;
const hasBlogPosts = APP_BLOG.isEnabled && (await findLatestPosts({ count: 1 })).length > 0;
---

<footer class:list={[{ dark: theme === 'dark' }, 'relative border-t border-gray-200 dark:border-slate-800 not-prose']}>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 py-8 md:py-12">
    <div class="grid grid-cols-12 gap-8">
      <div class="col-span-12 md:col-span-4">
        <a class="font-bold text-xl mb-2 inline-block" href={getHomePermalink()}>{SITE?.name}</a>
      </div>
      <div class="col-span-6 md:col-span-2">
        <h3 class="font-medium dark:text-gray-300 mb-3">Quick Links</h3>
        <ul class="text-sm space-y-2">
          <li><a href="/" class="text-muted hover:text-gray-700 dark:text-gray-400 hover:underline">Home</a></li>
          <li><a href="/about" class="text-muted hover:text-gray-700 dark:text-gray-400 hover:underline">About Us</a></li>
          <li><a href="/pricing" class="text-muted hover:text-gray-700 dark:text-gray-400 hover:underline">Pricing</a></li>
          <li><a href="/contact" class="text-muted hover:text-gray-700 dark:text-gray-400 hover:underline">Contact Us</a></li>
          <li><a href={getBlogPermalink()} class="text-muted hover:text-gray-700 dark:text-gray-400 hover:underline">Blog</a></li>
        </ul>
      </div>
      <div class="col-span-6 md:col-span-2">
        <h3 class="font-medium dark:text-gray-300 mb-3">Support</h3>
        <ul class="text-sm space-y-2">
          <li><a href="/faqs" class="text-muted hover:text-gray-700 dark:text-gray-400 hover:underline">FAQs</a></li>
          <li><a href="/privacy" class="text-muted hover:text-gray-700 dark:text-gray-400 hover:underline">Privacy Policy</a></li>
          <li><a href="/terms" class="text-muted hover:text-gray-700 dark:text-gray-400 hover:underline">Terms of Service</a></li>
        </ul>
      </div>
      <div class="col-span-12 md:col-span-4">
        <h3 class="font-medium dark:text-gray-300 mb-3">Contact Us</h3>
        <ul class="text-sm space-y-2">
          <li>Email: <a href="mailto:support@turnkeyleads.com" class="text-muted hover:text-gray-700 dark:text-gray-400 hover:underline">support@turnkeyleads.com</a></li>
          <li>Phone: <a href="tel:+11234567890" class="text-muted hover:text-gray-700 dark:text-gray-400 hover:underline">(123) 456-7890</a></li>
          <li>Address: 981 Route 228, Mars, PA 16046</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
