---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'Contact',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText tagline="Contact" title="Let's Connect!" />
  
  <div class="-mt-8">
    <ContactUs
    id="form"
    subtitle="For quicker answers, explore our FAQs section. You may find the solution you're looking for right there! If not, our support team is delighted to help you."
    inputs={[
      {
        type: 'text',
        name: 'name',
        label: 'Name',
        placeholder: 'Your name',
        required: true,
      },
      {
        type: 'email',
        name: 'email',
        label: 'Email',
        placeholder: 'your.email@example.com',
        required: true,
      },
    ]}
    textarea={{
      label: 'Message',
      placeholder: 'How can we help you?',
      required: true,
    }}
    description="Our support team typically responds within 24 business hours."
  />
  </div>

  <!-- Features2 Widget ************** -->

  <Features2
    title="We are here to help!"
    items={[
      {
        title: 'General support',
        description: `Chat with us for inquiries related to account management, website navigation, payment issues, accessing purchased leads, or general questions about our services.`,
      },
      {
        title: 'Sales inquiries',
        description:
          'Chat with us to learn about pricing, service customization, or to discuss how we can help your real estate business grow.',
      },
      {
        title: 'Technical support',
        description:
          'Chat with us if you experience technical difficulties receiving leads, accessing your account, or other service-related issues.',
      },
      {
        title: 'Phone',
        description: '+1 (123) 456-7890',
        icon: 'tabler:headset',
      },
      {
        title: 'Email',
        description: 'support@turnkeyleads.com',
        icon: 'tabler:mail',
      },
      {
        title: 'Location',
        description: '981 Route 228, Mars, PA 16046',
        icon: 'tabler:map-pin',
      },
    ]}
  />
</Layout>

